<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button></ion-back-button>
      <ion-title>Heart rate limits</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h3>
    Heart rate limits for person {{age}} old are
    {{lowerLim | number : '1.0-0'}} - {{upperLim | number : '1.0-0'}}
  </h3>
</ion-content>