<ion-header>
  <ion-toolbar>
    <ion-title>
      Heart rate limits
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <h3>Enter your age</h3>
    <div>
      <input [(ngModel)]="age" type="number">
    </div>
    <ion-button block (click)="show_result()">Show result</ion-button>
  </div>
</ion-content>